<div class="jumbotron buildProfileHead">
  <h1>Profile details</h1>
</div>
<div id="pictureKeeper">
  <%= react_component 'User', {data: @user} %>
</div>

<%= form_for(@user, url: 'update_seller_info', method: :put ) do |f| %>
  <div class= "sellerForm">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %><br />
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile, autofocus: true %><br />
    <%= f.label :description %><br />
    <%= f.text_field :description, autofocus: true %><br />
    <%= f.label :college %><br />
    <%= f.text_field :college, autofocus: true %><br />
    <%= f.label :locality %><br />
    <%= f.text_field :locality, autofocus: true %><br />
    <%= f.label :state %><br />
    <%= f.text_field :state, autofocus: true %><br />
    <%= f.label :portfolio %><br />
    <%= f.text_field :portfolio, autofocus: true %><br />
    <div class="languageKeeper">
      <%= react_component 'Languages', {allLanguages: @languages,
                                    languagesLevels: @languages_and_levels} %>    
    <%= f.submit "Update" , class: "btn btn-primary"%>
  <div>
<% end %>
</div>







<!-- textarea type="text" class="form-control formTextColor" id="formmessage" rows="4" col="40" placeholder="Message" name="message"></textarea> -->
