<p id="notice"><%= notice %></p>

<h1>Language Users</h1>

<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>User</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @language_users.each do |language_user| %>
      <tr>
        <td><%= language_user.language %></td>
        <td><%= language_user.user %></td>
        <td><%= language_user.level %></td>
        <td><%= link_to 'Show', language_user %></td>
        <td><%= link_to 'Edit', edit_language_user_path(language_user) %></td>
        <td><%= link_to 'Destroy', language_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Language User', new_language_user_path %>
